body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:1334px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:476px;
  width:136px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:519px;
  width:247px;
  height:165px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:61px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:519px;
  width:247px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:411px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:426px;
  width:0px;
  height:0px;
}
#u432_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u432_seg1 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:-4px;
  width:8px;
  height:72px;
}
#u432_seg2 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:60px;
  width:260px;
  height:8px;
}
#u432_seg3 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:54px;
  width:20px;
  height:20px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:187px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
