body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:1334px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:286px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:287px;
  width:123px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:331px;
  width:247px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:301px;
  width:0px;
  height:0px;
}
#u352_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:174px;
  height:8px;
}
#u352_seg1 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-10px;
  width:20px;
  height:20px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
