body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:1334px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:286px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:287px;
  width:107px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:331px;
  width:247px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:301px;
  width:0px;
  height:0px;
}
#u357_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:174px;
  height:8px;
}
#u357_seg1 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-10px;
  width:20px;
  height:20px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
