body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2436px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:2436px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:816px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:818px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:862px;
  width:247px;
  height:108px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:831px;
  width:0px;
  height:0px;
}
#u201_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:537px;
  height:8px;
}
#u201_seg1 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:-10px;
  width:20px;
  height:20px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:2344px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:2346px;
  width:161px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:2359px;
  width:0px;
  height:0px;
}
#u204_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u204_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-10px;
  width:20px;
  height:20px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
