body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2652px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:100px;
  width:750px;
  height:2652px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:2931px;
  width:750px;
  height:1334px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:149px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:150px;
  width:145px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:433px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:504px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:652px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:164px;
  width:0px;
  height:0px;
}
#u278_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:202px;
  height:8px;
}
#u278_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-10px;
  width:20px;
  height:20px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:131px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:159px;
  width:247px;
  height:131px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:434px;
  width:177px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:505px;
  width:145px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:448px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:253px;
  height:8px;
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-10px;
  width:20px;
  height:20px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:519px;
  width:0px;
  height:0px;
}
#u283_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:253px;
  height:8px;
}
#u283_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-10px;
  width:20px;
  height:20px;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:653px;
  width:65px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:707px;
  width:247px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:667px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:202px;
  height:8px;
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-10px;
  width:20px;
  height:20px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:1411px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:1836px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:1412px;
  width:113px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:61px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:1860px;
  top:1443px;
  width:247px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1426px;
  width:0px;
  height:0px;
}
#u291_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:200px;
  height:8px;
}
#u291_seg1 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-10px;
  width:20px;
  height:20px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:1443px;
  width:247px;
  height:153px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:1837px;
  width:65px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1851px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u294_seg1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:20px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:98px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:1874px;
  width:247px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:1874px;
  width:247px;
  height:77px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
